In [1]:
import numpy as np
import pandas as pd
import json
import requests
import ast

In [2]:
from eric_keys import eric_omdb_key, eric_tmdb_key, eric_tmdb_token
from eric_test import *
from functions import *

In [3]:
# Open Clean DF
df = pd.read_csv('clean_df.csv', index_col='id').sort_index()
df

,imdb_id,budget,revenue,genre_names,original_title,runtime,status,countries,title,original_language,avg_vote,vote_count,popularity,genres,release_date
id,,,,,,,,,,,,,,,
19,tt0017136,1300000,650422,"['Drama', 'Science Fiction']",Metropolis,153.0,Released,['Germany'],Metropolis,de,8.2,1419,18.275,"[18, 878]",1927-01-10
55,tt0245712,2000000,20908467,"['Drama', 'Thriller']",Amores perros,154.0,Released,['Mexico'],Amores Perros,es,7.6,1257,16.137,"[18, 53]",2000-06-16
64,tt0287467,0,51001550,"['Drama', 'Romance']",Hable con ella,112.0,Released,['Spain'],Talk to Her,es,7.6,639,12.528,"[18, 10749]",2002-03-14
79,tt0299977,31000000,177394432,"['Drama', 'Adventure', 'Action', 'History']",英雄,99.0,Released,['China'],Hero,zh,7.5,1261,24.119,"[18, 12, 28, 36]",2002-07-22
81,tt0087544,1000000,3301446,"['Adventure', 'Animation', 'Fantasy']",風の谷のナウシカ,117.0,Released,['Japan'],Nausicaä of the Valley of the Wind,ja,7.9,1784,31.425,"[12, 16, 14]",1984-03-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637920,tt10431500,0,14478084,"['Drama', 'Comedy', 'Family']",7. Koğuştaki Mucize,132.0,Released,['Turkey'],Miracle in Cell No. 7,tr,8.4,1927,78.940,"[35, 18, 10751]",2019-10-10
652483,tt10731748,0,0,"['Comedy', 'Romance']",Modo Avião,96.0,Released,['Brazil'],Airplane Mode,pt,6.2,283,15.085,"[35, 10749]",2020-01-23
658760,tt9806322,0,0,"['Romance', 'Comedy']",Isi & Ossi,113.0,Released,['Germany'],Isi & Ossi,de,7.0,386,19.938,"[35, 10749]",2020-02-14
668195,tt10937434,0,0,['Drama'],Ultras,109.0,Released,['Italy'],Ultras,it,6.4,217,25.001,[18],2020-03-09
674944,tt9345754,0,0,"['Thriller', 'Drama']",Hogar,103.0,Released,['Spain'],The Occupant,es,6.2,273,33.192,"[53, 18]",2020-03-25