In [25]:
import ast
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from zawar_functions import *

In [26]:
df=pd.read_csv('clean_df.csv')
df['countries']=df['countries'].apply(lambda x: ast.literal_eval(x))
df['genre_names']=df['genre_names'].apply(lambda x: ast.literal_eval(x))

In [39]:
#df['original_language']=df['original_language'].map(language_dict)

In [9]:
#Make a dataframe with all genres as columns where 1 and 0 mean True or False
genre_df=df['genre_names'].apply(lambda x: pd.Series([1] * len(x), index=x)).fillna(0, downcast='infer')

C:\Users\Drago\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

,Drama,Thriller,Romance,Adventure,Action,History,Comedy,Mystery,Fantasy,Animation,Family,Crime,War,Science Fiction,Horror,Music,Western,TV Movie
0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [55]:
genre_df.to_csv('genre_info',index=False)

In [41]:
#Merge the genre dataframe with the original to add in columns for each genre
df2=pd.merge(df,genre_df,left_index=True,right_index=True)
df2.shape

(1015, 37)

In [56]:
# Add profit, profit margin columns
df2['profit'] = df2['revenue'] - df2['budget']
df2['profit_margin'] = 100 * df2['profit'] / df2['revenue']
df2['profit_margin'] = round(df2['profit_margin'], 1)

In [57]:
df2.shape

(1015, 39)

In [54]:
genre_df.sum().to_frame(name='count').sort_values(by='count',ascending=False)['count'].values[0]

502

In [24]:
#df.to_csv('clean_df.csv',index=False)