In [23]:
import ast
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from zawar_functions import *

In [4]:
df=pd.read_csv('clean_df.csv')
df['countries']=df['countries'].apply(lambda x: ast.literal_eval(x))
df['genre_names']=df['genre_names'].apply(lambda x: ast.literal_eval(x))

In [18]:
language_dict = {
    'fr':'French',
    'it':'Italian',
    'ja':'Japanese',
    'es':'Spanish',
    'de':'German',
    'ko':'Korean',
    'cn':'Chinese',
    'pt':'Portuguese',
    'zh':'Chinese',
    'da':'Danish',
    'sv':'Swedish',
    'ru':'Russian',
    'hi':'Hindi',
    'no':'Norwegian',
    'fa':'Farsi',
    'nl':'Dutch',
    'th':'Thai',
    'id':'Indonesian',
    'tr':'Turkish',
    'pl':'Polish',
    'sr':'Serbian',
    'hu':'Hungarian',
    'te':'Telugu',
    'ar':'Arabic',
    'el':'Greek',
    'fi':'Finnish',
    'et':'Estonian',
    'la':'Latin',
    'bs':'Bosnian',
    'ro':'Romanian',
    'nb':'Norwegian',
    'eu':'Basque'    
}

In [21]:
df['original_language']=df['original_language'].map(language_dict)
df['original_language'].head()

0    Spanish
1    Spanish
2    Chinese
3    Spanish
4     German
Name: original_language, dtype: object

In [9]:
#Make a dataframe with all genres as columns where 1 and 0 mean True or False
genre_df=df['genre_names'].apply(lambda x: pd.Series([1] * len(x), index=x)).fillna(0, downcast='infer')

C:\Users\Drago\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

,Drama,Thriller,Romance,Adventure,Action,History,Comedy,Mystery,Fantasy,Animation,Family,Crime,War,Science Fiction,Horror,Music,Western,TV Movie
0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [12]:
#merge the genre dataframe with the original to add in columns for each genre
df2=pd.merge(df,genre_df,left_index=True,right_index=True)

,id,imdb_id,budget,revenue,genre_names,original_title,runtime,status,countries,title,...,Fantasy,Animation,Family,Crime,War,Science Fiction,Horror,Music,Western,TV Movie
1010,637920,tt10431500,NaN,17321629.0,"[Drama, Comedy, Family]",7. Koğuştaki Mucize,132.0,Released,[Turkey],Miracle in Cell No. 7,...,0,0,1,0,0,0,0,0,0,0
1011,652483,tt10731748,NaN,NaN,"[Comedy, Romance]",Modo Avião,96.0,Released,[Brazil],Airplane Mode,...,0,0,0,0,0,0,0,0,0,0
1012,658760,tt9806322,NaN,NaN,"[Romance, Comedy]",Isi & Ossi,113.0,Released,[Germany],Isi & Ossi,...,0,0,0,0,0,0,0,0,0,0
1013,668195,tt10937434,NaN,NaN,[Drama],Ultras,109.0,Released,[Italy],Ultras,...,0,0,0,0,0,0,0,0,0,0
1014,674944,tt9345754,NaN,1845.0,"[Thriller, Drama]",Hogar,103.0,Released,[Spain],The Occupant,...,0,0,0,0,0,0,0,0,0,0

In [17]:
genre_df.sum()

Drama              502
Thriller           177
Romance            151
Adventure          108
Action             182
History             47
Comedy             466
Mystery             60
Fantasy             93
Animation          112
Family              55
Crime              112
War                 31
Science Fiction     65
Horror              64
Music               14
Western              7
TV Movie             1
dtype: int64

In [13]:
df['original_language'].unique()

array(['es', 'zh', 'de', 'fr', 'ko', 'ja', 'da', 'pt', 'it', 'cn', 'sr',
       'ro', 'ru', 'hi', 'bs', 'th', 'nl', 'sv', 'no', 'fa', 'el', 'nb',
       'fi', 'pl', 'tr', 'id', 'ar', 'et', 'te', 'hu', 'eu', 'la'],
      dtype=object)

In [ ]:
df.t